$color-red: red;
$color-white: #fff;
$color-light-grey: #E2E3E5;
$color-light-black: #0E0E0F;
$color-green: #00A76B;
$color-green-lighter: #00BB78;
$color-green-shadow: #009B63;

// .color-accent {
// 	color: $color-accent;
// }
